// Example Stylus file
//
// Stylus docs:  http://learnboost.github.com/stylus/docs/js.html
// Nib docs:     http://visionmedia.github.com/nib

@import 'nib'
@import 'init'

.fontSizechip
  position absolute
  width 72px
  height 20px
  left 924px
  border solid 1px gray
  text-align center

// .memo
//   position absolute
//   width 100px
//   height 72px
//   border solid 1px gray
//   box-shadow 3px 2px 3px darkgray
//   top 100px
//   left 100px


// .memo-active
//   box-shadow 0px 0px 10px blue


// .memo > .head
//   width 100px
//   height 11px
//   font-size 12px
//   text-align center
//   border-bottom solid 1px gray


// .memo > .body
//   padding 2px
//   width 96px
//   height 56px
//   font-size 8px
//   color dimgray

.note-active
  border solid 2px red

.note textarea
  overflow hidden
  width 100%
  height 100%
  font-size 8px
  padding 0px
  margin 0px
  border none 0px white
  resize none


.postit 
  position absolute
  width 100px
  height 70px
  background-color lightyellow
  border solid 1px #888
  box-shadow 3px 2px 4px #888


.label
  color black


.group 
  border solid 3px white
  background-color darkblue

